<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!doctype html>
    <!--
    author:ycw
    date:2019-08
    desc:this demo is about novel. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with author.
    Any individuals and organizations and not for commercial use, professional website for customized web site.
    -->
    <meta charset="utf-8">
    <title>文娱</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/bitbug_favicon.ico" type="image/x-icon"/>
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
<!--        <link href="../static/css/m.css" rel="stylesheet">-->
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery.easyfader.min.js"></script>
    <script src="../static/js/scrollReveal.js"></script>
</head>
<body>
<header id="header">
    <!--menu begin-->
    <div class="menu">
        <div class="nav" id="toav">

            <ol>
                <h1 class="logo"><a href="/">群书一览晓</a></h1>
                <li><a href="user/leader">我的书架</a></li>
                <li><a href="user/leader">科幻小说</a></li>
                <li><a href="user/leader">玄幻小说</a></li>
                <li><a href="user/leader">修真小说</a></li>
                <li><a href="user/leader">都市小说</a></li>
                <li><a href="user/leader">穿越小说</a></li>
                <li><a href="user/leader">网游小说</a></li>
                <li><a href="user/leader">古典小说</a></li>
                <li><a href="user/leader">全部小说</a></li>
                <li><a href="user/leader">小说排行</a></li>
            </ol>
            <div id="tourist">
                <a href="user/login" id="login" target="_Self">登录</a>
                <a href="user/register" id="register" target="_Self">注册</a>
            </div>

        </div>


    </div>
</header>
<div id='master' >
    {% for b in books %}
    <table class ="book_log" border="4px" >
        <tr>
            <td rowspan="2">
                {% load static %}
                <a href="user/leader" target="_self"><img src={{b.bookLog}} width="125px" height="200px" alt="hello"></a>
            </td>
            <th rowspan="2" width="16">{{ b.bookName}}</th>
            <th width="16">作者</th>
            <th width="52">连载状态</th>
            <th width="112">摘要</th>
        </tr>
        <tr>
            <th>{{ b.author }}</th>
            <th>{{ b.bookState }}</th>
            <td>{{ b.bookInfo }}</td>
        </tr>

    </table>
    {% endfor %}
</div>
</body>
</html>