<!DOCTYPE html>
<html>
<!--
author:ycw
date:2019-08
desc:this demo is about novel. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with author.
Any individuals and organizations and not for commercial use, professional website for customized web site.
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/login_reglogin.css">
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/md5.js"></script>
    <title>登陆</title>
</head>
<body>
<div class="bg">
    <img src="../static/images/login.jpg" alt="">
</div>
<div class="main">
    <div class="header">
        <h1>Welcome to use</h1>
    </div>
    <ul class="right-form">
        <h2>login:</h2>
        {% csrf_token %}
        <li><input type="text" class="username" name="username" placeholder="ID" required/></li>
        <li><input type="password" class="password" name="password" placeholder="Password" required/></li>

        <input type="button" value="space-time cross" onclick="login()">
        <div class="clear"></div>
    </ul>
    <div class="clear"></div>
</div>

</body>

<script>
    function login() {
        var username = $('.username').val();
        var password = $('.password').val();
        var url = window.location.hostname;
        var port = window.location.port;
        password = hex_md5(password);

        var post_data = {'username': username, 'password': password};
        // console.log( $.cookie("csrftoken"));

        $.ajax({
            // 请求方式
            type: "POST",
            // contentType

            contentType: "application/json",
            // dataType
            dataType: "json",
            url: "http://" + url + ":" + port + "/tokens",
            headers: {"X-CSRFToken": $.cookie("csrftoken")},
            // 把JS的对象或数组序列化一个json 字符串
            data: JSON.stringify(post_data),
            success: function (result) {
                if (200 == result.code) {
                    alert('登陆成功');
                    console.log("hello world");

                    window.location.href = '/user/vip/' + result.username;


                } else {
                    alert(result.error)
                }
            }
        });

    }
</script>

</html>
